body {
    text-align: center;
    padding-top: 50px;
}

#pic {
    width: 160px;
    height: 160px;
    border-radius: 90px;
    margin-bottom: 20px;
    margin-top: 130px;
}

h1 {
    font-size: 40px;
}

.line {
    width: 110px;
    height: 5px;
    background-color: #000;
    margin: 8px auto;
    margin-bottom: 40px;
}

p {
    margin-left: 85px;
    margin-right: 85px;
    font-size: 30px;
}

#sectionone {
    position: absolute;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#792ee8 10%, #0f03fc 70%);
    opacity: 0.70;
}

#menu {
    list-style: none;
    position: absolute;
    font-family: sans-serif;
    top: 14px;
    cursor: pointer;
    right: 36px;
}

#links {
    float: left;
    font-family: fantasy;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

#links:hover {
    background-color: #fc0367;
}

#about {
    padding: 50px;
    background: #03fcdb;
    margin-top: 700px;
    position: absolute;
}

span {
    font-family: 'Itim', cursive;
}

h2 {
    font-family: 'Arimo', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#favhobby {
    background: #ffffff;
    top: auto;
    padding: 50px;
    position: absolute;
    margin-top: 1200px;
    text-align: center;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

#inspiration {
    left: 500px;
    text-align: center;
    background: #ffffff;
    top: auto;
    padding: 50px;
    position: absolute;
    margin-top: 2750px;
    text-align: center;
    overflow: hidden;
}

#milkha {
    transition: transform .2s;
    width: 350px;
    height: 400px;
}

#milkha:hover {
    transform: scale(0.9);
}

#milkhaname {
    margin-right: 200px;
}
